# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency
node_modules/
dist
dist-ssr
*.local

# dotenv environment variable files
.env
.env.*
!.env.example

# Stack docker swarm
myCrud-stack.yml

features

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
